<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top floating-nav">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../assets/img/logo-otic-sofofa-main.svg" class="logo-cabecera pull-left" style="margin-top:-7px;">
        </a>
        <a class="navbar-brand">
          <img src="../assets/img/logo-firma-header.svg" class="logo-cabecera pull-left" style="margin-top:-7px;">
      </a>
        <nav class="nav d-sm-block d-xl-none">
            <button  (click)="menu()" class="navbar-toggler d-block" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color:transparent!important;font-size:12px;">
                <!--<span class="navbar-toggler-icon"></span>-->
                <img src="../assets/img/menu-open.svg" style="height:15px;margin-right:10px;">Menú
            </button>
        </nav>
        <div class="collapse navbar-collapse justify-content-end d-lg-block d-none" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
                <li *ngIf="currentUser" style="align-self: center;">
                    <div class="d-flex flex-row">
                        <div (click)="showPendientesModal()">
                            <img class="" src="../assets/img/mensaje_header.svg">
                            <i [matBadge]="notifications" matBadgeSize="small" matBadgePosition="below after" [ngClass]="{hide:notifications===0}">
                            </i>
                        </div>
                        <div class="mx-4">
                            <img class="px-" src="../assets/img/user_header.svg">
                        </div>
                    </div>
                </li>
                <li *ngIf="currentUser" style="align-self: center;">
                    <div class="d-flex flex-column px-2">
                        <p class="fw-bold">{{currentUser?.firstName}} {{currentUser?.lastName}}</p>
                        <p>{{currentUser.tipo===1?'OTIC SOFOFA':'Empresa'}}</p>
                    </div>
                </li>
                <li class="nav-item me-3" style="align-self: center;">
                    <a (click)="logOut()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salir de Encuestas" style="margin-left:5px;">
                        <img  class="px-3" src="../assets/img/salir_header.svg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  
