.bg-azul {
    background-color: #0B58A4 !important;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-top: 5vh;
    bottom: 0;
  }
.link-footer{
    color: white;
    text-align: center;
}