<div class="container rounded mt-5">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div *ngIf="!currentUser"class="col-12-sm col-md-10">
        <h4>¡Te damos la bienvenida!</h4>
        <h1 class="fw-bold">{{"Juan Pérez"}}</h1>
        <hr>
      </div>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="col-12-sm col-md-10">
          <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="col-sm-4 col-md-4">
              <div>
                <div class="d-flex justify-content-evenly flex-row py-1 flex-wrap align-items-center">
                  <div class="d-flex flex-row w-50" style="word-break: break-all !important;">
                    <p class="fw-bold">{{fileName}}</p>
                  </div>
                  <div class="w-20">
                    <p class="fw-bold"><span class="mx-2">{{currentPage}}</span>/<span class="p-2 mx-1" style="background-color: #0B58A4 !important; color: white;">{{totalPages}}</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-2" style="border-inline:solid 1px grey">
              <div class="d-flex flex-row justify-content-center flex-wrap align-items-center">
                <mat-icon (click)="zoomOut()">remove</mat-icon>
                <button class="mx-2 btn btn-main" style="background-color: #0B58A4 !important; color: white; border-radius: 0;">{{ (zoom * 100) | number: '1.0-0' }}%</button>
                <mat-icon (click)="zoomIn()">add</mat-icon>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 py-1 d-flex d-row align-items-center flex-wrap">
              <mat-icon class="px-5" matTooltip="Rotar" (click)="rotate()"><span>text_rotation_down</span></mat-icon>
              <mat-icon class="px-5" matTooltip="Descargar" (click)="descargarArchivo(fileName)">cloud_download</mat-icon>
              <!--<mat-icon class="px-5" (click)="generatePDF()">cloud_upload</mat-icon>
                  <mat-icon class="px-5" (click)="pasarPagina()">settings_ethernet</mat-icon>
              -->
            </div>
          </div>
        </div>
     </div>
    </div>
  </section>
  <div class="row mt-5">
    <div class="d-flex justify-content-center">
      <div class="col-10">
          <div style="background-color: #dedfe2;">
            <pdf-viewer (click)="pasarPagina()" (after-load-complete)="callBackFn($event)" class="iframeFac" [(page)]="currentPage"  [rotation]="rotation" [src]="archivoFirmar" [show-all]="false" [zoom]="zoom" [original-size]="true"></pdf-viewer>
          </div>
        </div>
      </div>
  </div>
  <div class="row justify-content-left">
      <div class="d-flex justify-content-center my-2" *ngIf="(firmante && firmante?.firmo!==true)">
          <button class="btn btn-primary btn-main mx-2 py-2" (click)="modalFirmar()" style="background-color: #0B58A4 !important;">
              <img class="px-3" src="../../../../assets/img/firma_btn.svg">Firmar</button>
          <button class="btn btn-outline-secondary mx-2" style="background-color: transparent !important;" (click)="volver()">
              <span class="fw-bold mx-2">X</span>Cancelar
          </button>
      </div>
      <div *ngIf="(!firmante || firmante.firmo===true)" class="text-center mb-4">
        <div>
          <h1>{{!firmante ? "No figuras en la lista de firmantes":"Ya has firmado este documento."}}</h1>
        </div>
        <button class="btn btn-outline-secondary mx-2" style="background-color: transparent !important;" (click)="volver()">
          <span class="fw-bold mx-2">X</span>Volver
        </button>
      </div>
    
</div>
</div>
