<div class="container rounded">
  <div class="row mt-5">
    <pdf-viewer class="iframeFac" [src]="archivoFirmar" [zoom]="1" [original-size]="true" (pageChange)="onPageChange($event)"></pdf-viewer>
    <button (click)="nextPage()">Next Page</button>
  </div>
  <div class="row justify-content-left py-5">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary btn-main mx-2 py-2" (click)="modalFirmar()">
            <img class="px-3" src="../../../../assets/img/firma_btn.svg">Firmar</button>
        <button class="btn btn-outline-secondary mx-2" style="background-color: transparent !important;" [routerLink]="['/consulta-documento']">
            <span class="fw-bold mx-2">X</span>Cancelar</button>
    </div>
</div>
</div>
