<div class="container my-5 col-lg-12" style="background-color: #fafbfc;">
  <h1>Datos de la firma</h1>
  <div *ngIf="currentUser" class="row py-4">
    <div class="col-6">
            <span class="fw-bold">
                Usuarios</span>
            <p>Listado de usuarios del sistema  </p>
    </div>
    <div class="d-flex col-6 justify-content-end">
      <!-- <button class="filter-btn btn me-2" style="border: 1px solid #979ba2;" (click)="flagFiltros = !flagFiltros"><img class="px-3" src="../assets/img/filtro-btn.svg">Filtrar</button> -->
      <!-- <button *ngIf="tipoTabla === 'firmar'" class="btn-firmar-seleccionados btn btn-primary btn-main"style="background-color: #0B58A4 !important;">Firmar seleccionados</button> -->
    </div>
  </div>
  <div class="col-12" style="overflow-x: scroll !important;">
    <table class="table">
      <thead class="pt-4 text-center fw-bold">
       <tr>
           <!-- <td><input class="form-check-input" style="outline:#1e5180;" type="checkbox" disabled></td> -->
           <td  *ngFor="let dataColumn of cabeceras, let i = index">
               <span>{{dataColumn.nombre}}</span>
           </td>
       </tr>
      </thead>
      <tbody class="text-center">
           <tr *ngFor="let document of listaUsuarios, let i = index">
               <!-- <td><input class="form-check-input" [value]=i type="checkbox" (change)="onCheckChange($event)"></td> -->
               <td>{{document.id }}</td>
               <td>{{document.rut + document.dv}}</td>
               <td>{{document.nombres + ' ' + document.apellidoP + ' ' + document.apellidoM}}</td>
               <td>{{document.email}}</td>
               <td>
                   <div class="d-flex justify-content-center">
                     <!-- <a (click)="vistaPrevia(document)"><img class="iconos-options rounded p-1" src="../../../../assets/img/lupa_btn.svg" alt="Vista previa" style="margin-left: 1px !important;"></a> -->
                     <!-- <a (click)="showModal()"><img class="mx-1 iconos-options rounded p-1" src="../../../../assets/img/firma_btn.svg"></a> -->
                     <mat-icon class="rounded-circle" style="color: white; background-color: #0B58A4;" (click)="entregarAcceso(document)">person_add</mat-icon>
                   </div>
               </td>
           </tr>
      </tbody>
   </table>
   <mat-paginator #paginadorDocumentos
       [length]="totalFilas"
       [pageSize]="pageSize"
       [pageSizeOptions]="pageSizeOptions"
   >
   </mat-paginator>
  </div>

</div>
