<div class="container col-12 my-5">
    <h1>Datos de la firma</h1>
    <div class="row">
        <div class="d-flex flex-row" style="background-color: #fafbfc;">
            <div class="d-flex py-2 justify-content-center align-items-center" style="margin-left: 2.5vw !important;">
                <img class="" id="img-firmar"src="../assets/img/img-firma-resumen.svg">
            </div> 
            <div class="mx-5 d-flex flex-column justify-content-center" style="margin-top: 1%;border-left: 5px solid #e38c48; padding-left:5%;height:80% !important" >
                <p>Nombre:</p>
                <p>RUT:</p>
                <p>Email:</p>
                <p>Teléfono:</p>
            </div> 
            <div class="fw-bold d-flex flex-column justify-content-center"  style="margin-top: 1%;margin-left:10%; height:80% !important" >
                <p>{{userInfo.firstName + " " + userInfo.lastName}}</p>
                <p>{{user.rut}}</p>
                <p>{{userInfo.email}}</p>
                <p>{{user.phone}}</p>
            </div>
        </div>
    </div>
</div>
