@media screen and (max-width: 500px) {
    #user-data{
      margin-left: 0 !important;
    }
    #img-firmar{
        margin: 0 !important;
        padding: 0 !important;
    }
  }
p{
    padding:0.25rem 0 0.25rem 0;
}

