<div class="p-5" *ngIf="!this.sistema; else editarSistema">
    <div class="d-flex flex-row justify-content-center " >
        <img class="p-3 rounded" src="../../../../assets/img/engrane-sidebar-activo.svg" style="background-color: #c9ddf3;">
    </div>
    <h1 class="text-center">Agregar nuevo Sistema</h1>
    <form [formGroup]="systemForm">
        <div class="mb-3">
        <label for="nombre" class="form-label">Nombre Sistema</label>
        <input type="text" formControlName="nombre" class="form-control">
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="url" class="form-control" formControlName="url">
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">Sigla</label>
            <input type="text" class="form-control" formControlName="sigla">
        </div>
        <div class="mb-3 w-100">
            <label for="user-estado" class="w-100">Permisos para el sistema</label>
            <label class="switch">
                <input type="checkbox" name="user-estado" formControlName="disponible">
                <span class="slider round"></span>
            </label> 
        </div>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary btn-main mx-2 py-2" type="submit" (click)="onSubmit()" style="display: inline-flex; align-items:center; margin-right: -12px !important;background-color: #0B58A4 !important;">
                <mat-icon>add</mat-icon>Agregar Sistema</button>
            <button class="btn btn-outline-secondary mx-2" style="background-color: transparent !important;" (click)="activeModal.close({ estado: false})">
            <span class="fw-bold mx-2">X</span>Cancelar</button>
        </div>
    </form>
</div>
<ng-template #editarSistema>
    <div class="p-5" *ngIf="this.sistema; else editarSistema">
        <div class="d-flex flex-row justify-content-center " >
            <img class="p-3 rounded" src="../../../../assets/img/engrane-sidebar-activo.svg" style="background-color: #c9ddf3;">
        </div>
        <h1 class="text-center">Editar sistema</h1>
        <form [formGroup]="systemForm">
            <div class="mb-3">
            <label for="nombre" class="form-label">Nombre Sistema</label>
            <input type="text" [placeholder]="this.sistema.me_descripcion" formControlName="nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">URL</label>
                <input type="url" [placeholder]="this.sistema.me_url" class="form-control" formControlName="url">
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Sigla</label>
                <input type="text" class="form-control" formControlName="sigla">
            </div>
            <div class="mb-3 w-100">
                <label for="user-estado" class="w-100">Permisos para el sistema</label>
                <label class="switch">
                    <input type="checkbox" name="medio-estado" formControlName="disponible">
                    <span class="slider round"></span>
                </label> 
            </div>
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary btn-main mx-2 py-2" (click)="onSubmitEdicion()" style="display: inline-flex; align-items:center; margin-right: -12px !important;background-color: #0B58A4 !important;">
                    <mat-icon>add</mat-icon>Editar Sistema</button>
                <button class="btn btn-outline-secondary mx-2" style="background-color: transparent !important;" (click)="activeModal.close({ estado: false})">
                <span class="fw-bold mx-2">X</span>Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>