.btn-nuevo {
  background-color: #0B58A4 !important;
  border-radius: 0px !important;
}
.w-80 {
  width: 80% !important;
}
.new-width {
  width: 50% !important;
  height: 50% !important;
}
.img-wd {
  width: 50% !important;
}

.img-container{
  margin-bottom: 20%;
}
a,p {
  font-size: 1.1rem !important;
}