<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card card-shadow col-sm-12 col-md-8 col-lg-8" style="border-radius: 12px;">
    <div class="d-flex flex-column align-items-center p-5">
      <div class="img-container d-flex flex-row justify-content-between w-80">
        <div class="d-flex">
          <img class="img-fluid" src="assets/img/logo-firma-header.svg" alt="Firmas" style="margin-top:-5px;margin-bottom:-10px;">
        </div>
        <div class="d-flex">
          <img class="img-fluid" src="assets/img/logo-otic-sofofa-main.svg" alt="Logo-otic" style="margin-top:-5px;margin-bottom:-10px;max-height:4rem;">
        </div>
      </div>
      <button (click)="login()" class="btn btn-primary btn-main btn-nuevo fw-bold w-80 mt-4 py-4" style="font-size: 1.1rem !important;" tabindex="4"><img
        src="assets/img/icon-google.svg" class="px-2">Ingresar con Google</button>
      <div style="margin-bottom: 10vh !important; margin-top: 5vh;">
        <p>¿Tiene cuenta?<a class="ms-1 text-primary" style="color: #0B58A4 !important">Solicite acceso</a></p>
      </div>
    </div>
  </div>
</div>

