<div *ngIf="currentUser" class="main-menu menu-fixed menu-accordion menu-shadow sidebar pt-0 bg-azul"
    [class.expanded]="!isCollapsed || mouseEnter"
    style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--azul-principal); ">

    <div class="main-menu-content">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link modern-nav-toggle d-none d-xl-block sin-margen" (click)="colapsar()">
                        <i [class.icon-circle]="isCollapsed" [class.icon-disc]="!isCollapsed"
                            class="toggle-icon feather font-medium-4 collapse-toggle-icon text-white"></i>
                    </a>
                    <a class="nav-link modern-nav-toggle d-block d-xl-none pr-0" (click)="menu()">
                        <i data-feather="x" class="font-medium-4 text-white toggle-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item"><a class="d-flex align-items-center" [routerLink]="['home']" [routerLinkActive]="['activo']">
                <i [data-feather]="'home'"></i><span class="menu-title text-truncate"
                    data-i18n="Home">Inicio</span></a>
            </li> 
            <li  class="nav-item"><a class="d-flex align-items-center" [routerLink]="['docsFirmar']" [routerLinkActive]="['activo']">
              <i [data-feather]="'file'"></i><span class="menu-title text-truncate"
                  data-i18n="file">Documentos por Firmar</span></a>
            </li>
            <li class="nav-item"><a class="d-flex align-items-center" [routerLink]="['docsFirmados']" [routerLinkActive]="['activo']">
              <i [data-feather]="'file-plus'"></i><span class="menu-title text-truncate"
                  data-i18n="Home">Documentos Firmados</span></a>
            </li>
            <li class="nav-item"><a class="d-flex align-items-center" [routerLink]="['mantenedor/usuarios']" routerLinkActive="activo">
              <i [data-feather]="'user'"></i><span class="menu-title text-truncate"
                  data-i18n="Home">Mantenedor Usuarios</span></a>
            </li>
            <li class="nav-item"><a class="d-flex align-items-center" [routerLink]="['mantenedor/sistemas']" [routerLinkActive]="['activo']">
              <i [data-feather]="'hard-drive'"></i><span class="menu-title text-truncate"
                  data-i18n="Home">Mantenedor Sistemas/Documentos</span></a>
            </li>
            <li class="nav-item hidden-icon"><a class="d-flex align-items-center" (click)="showPendientesModal()">
                <div>
                    <img src="../../../../assets/img/message-square.svg">
                    <i [matBadge]="notificationCount" matBadgeSize="small" matBadgePosition="below before" [ngClass]="{hide:notifications===0}"></i>
                </div>
                <span class="menu-title text-truncate">
                    <p class="notis">Notificaciones</p>
                </span></a>
                </li>
            <li class="nav-item hidden-icon"><a class="d-flex align-items-center" (click)="logout()">
                <img src="../../../../assets/img/log-out.svg">
                <span class="menu-title text-truncate">
                    <p>Cerrar Sesión</p>
                </span></a>
              </li>
            <!-- <li class="nav-item"><a class="d-flex align-items-center" [routerLink]="['disenoPlantillas']">
                <img class="me-2"  src="../../../../assets/img/salida-sidebar.svg"/><span class="menu-title text-truncate" data-i18n="Home">Documentos firmados</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" [routerLink]="['bancoPreguntas']">
                    <img class="me-2"  src="../../../../assets/img/engrane-sidebar.svg"/><span class="menu-title text-truncate" data-i18n="Home">Banco de
                        Preguntas</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" [routerLink]="['listadoEncuestas']">
                    <i [data-feather]="'home'"></i><span class="menu-title text-truncate" data-i18n="Home">Lanzamiento de
                        Encuestas</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" [routerLink]="['reporte']">
                    <i [data-feather]="'home'"></i><span class="menu-title text-truncate"
                        data-i18n="Home">Reportes</span></a>
            </li> -->
        </ul>
    </div>
</div>
