<app-datos-firma></app-datos-firma>

<div class="container rounded">
    <div class="row">
        <div class="col-6">
                <span><img src="../assets/img/doc-por-firmar.svg">Documentos por firmar</span>
                <p>listado de documentos por firmar</p>
        </div>
        <div class="col-6">
            <button class="filter-btn btn"><img class="px-3" src="../assets/img/filtro-btn.svg">Filtrar</button>
            <button class="btn-firmar-seleccionados btn btn-primary btn-main" (click)="showModal()">Firmar seleccionados</button>
        </div>
    </div>
        <table class="ms-2 table mat-table table-light">
           <thead class="pt-4">
            <tr>
                <td><input class="form-check-input" type="checkbox"></td>
                <td *ngFor="let dataColumn of documentData, let i = index">
                    <span><img class="px-3" [src]=dataColumn.icon>{{dataColumn.nombre}}</span>
                </td>
            </tr>
           </thead>
           <tbody>
                <tr *ngFor="let document of documentList, let i = index">
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td>{{document.fecha}}</td>
                    <td>{{document.documento}}</td>
                    <td>{{document.origen}}</td>
                    <td>
                        <img src="../../../../assets/img/firma_tabla.svg">
                        <img src="../../../../assets/img/lupa_btn.svg">
                    </td>
                </tr>
           </tbody>
        </table>
</div>


