.iframeFac {
  width: 100% !important;
  height: 621px !important;
}


.example-tooltip-uppercase {
  text-transform: uppercase;
}

tr.mat-header-row{
  height: 100px !important;
}

::ng-deep .mdc-data-table__header-cell {
  border-bottom: #0B58A4;
}