<app-header></app-header>
<div class="container rounded mt-5 flex-grow-1">
	<div class="d-flex">
		<section>
			<div class="row">
				<div class="d-flex">
					<div *ngIf="currentUser; else desconocido" class="col-12">
						<h4>¡Te damos la bienvenida!</h4>
						<h1 class="fw-bold">{{"Juan Pérez"}}</h1>
						<hr>
					</div>
				</div>
			</div>
			<ng-template #desconocido>
				<div class="">
					<h1 class="fw-bold">Bienvenido al portal Firma electrónica OTIC SOFOFA</h1>
					<p style="font-size: 1.1rem!important;">Para consultar los documentos firmados electrónicamente</p>
				</div>
			</ng-template>
		</section>
	</div>
	<div class="row mt-5">
		<div class="d-flex justify-content-center">
			<div class="col-12">
				<div class="row align">
					<div class="col-sm-12 col-lg-6 gx-5">
						<div class="d-flex flex-row align-content-center">
							<div style="background-color: #e4ebf5 !important;" class="p-2 rounded">
								<i [data-feather]="'file'" [size]="'30'"></i><span
									class="menu-title text-truncate"></span>
							</div>
							<div class="ms-4">
								<h1 class="fw-bold">Documento: {{fileName}}</h1>
							</div>
						</div>
						<section style="background-color: #e4ebf5 !important; height: 7vh!important;" class="mt-2">
							<div class="row mt-2">
								<div class="col-2 col-md-2">
									<div class="d-flex flex-row py-1 flex-wrap align-items-center" style="width:100%">
										<div class="d-flex justify-content-center w-100">
											<p class="fw-bold"><span class="mx-2">{{currentPage}}</span>/<span
													class="p-2 mx-1"
													style="background-color: #0B58A4 !important; color: white;">{{totalPages}}</span>
											</p>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-4">
									<div class="d-flex flex-row justify-content-center flex-wrap align-items-center"
										style="border-inline:solid 1px grey">
										<mat-icon (click)="zoomOut()">remove</mat-icon>
										<button class="mx-2 btn btn-main"
											style="background-color: #0B58A4 !important; color: white; border-radius: 0;">{{
											(zoom * 100) | number: '1.0-0' }}%</button>
										<mat-icon (click)="zoomIn()">add</mat-icon>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 col-2">
									<div class="d-flex justify-content-end me-3">
										<mat-icon matTooltip="Descargar"
											(click)="descargarArchivo(fileName)">cloud_download</mat-icon>
									</div>
								</div>
							</div>
						</section>
						<div
							style="background-color: #dedfe2;max-height: 43vh; overflow-y: scroll; margin-bottom: 10vh;">
							<pdf-viewer (click)="pasarPagina()" (after-load-complete)="callBackFn($event)"
								class="iframeFac" [(page)]="currentPage" [rotation]="rotation" [src]="archivoFirmar"
								[show-all]="false" [zoom]="zoom" [original-size]="true"></pdf-viewer>
						</div>
					</div>
					<div class="col-sm-12 col-lg-6">
						<div>
							<div class="d-flex flex-row">
								<div style="background-color: #e4ebf5 !important;" class="p-2 rounded">
									<i [data-feather]="'user'" [size]="'30'"></i><span
										class="menu-title text-truncate"></span>
								</div>
								<div>
									<h1 class="fw-bold ms-4">Firmantes</h1>
								</div>
							</div>
							<div>
								<p></p>
							</div>
						</div>
						<section class="table-container mat-elevation-z8 mt-2" tabindex="0"
							style="max-height: 50vh;overflow-y: scroll; margin-bottom: 15vh!important;">
							<table mat-table [dataSource]="dataSource" class="tabla-firmantes">
								<ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
									<th mat-header-cell *matHeaderCellDef style="background-color: #e4ebf5 !important;">
										{{ column.header }}</th>
									<td mat-cell *matCellDef="let row">
										<span class="fw-bold p-1 rounded" [ngClass]="{'firmado':row.firmo===1,
                                  'pendiente':row.firmo===0}">
											{{column.cell(row)}}
										</span>
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
								<tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>