main{
    background-color: #ffff;
    height: 100%;
    margin-bottom: 15px;
    display: grid;
}

thead{
    background-color: #A5B9E0 !important;
    color: black !important;
}

.nav-tabs{
    margin-bottom: 0rem;
    margin-top: auto;
}

.tab-content{
    overflow-y: auto;
}