<div class="container">
    <div class="row">
        <h1>Datos de la firma</h1>
    </div>
        <div class="row bg-light rounded">
            <div class="col-2 py-4 px-5">
                <img src="../assets/img/img-firma-resumen.svg">
            </div>
        <div class="col-2">
            <p>Nombre:</p>
            <p>RUT:</p>
            <p>Email:</p>
            <p>Teléfono:</p>
        </div>
        <div class="col-2 fw-bold">
            <p>Tania Cortés F.<p>
            <p>15.446.942-5</p>
            <p>tcortes@otic.sofofa.cl</p>
            <p>(+56 2) 23362890</p>
        </div>
    </div>
</div>


  