<div class="container mt-5">
    <div class="row">
        <div class="d-flex col-6 rounded">
            <div class="d-flex col-2">
                <img src="../../../../assets/img/bandeja-sidebar.svg">
            </div>
            <div class="d-flex flex-column col-10">
                <p>Documentos firmados</p>
                <p>Tienes 5 documentos pendientes por firmar</p>
            </div>
        </div>
        <div class="d-flex col-6 rounded">
            <div class="d-flex col-2">
                <img src="../../../../assets/img/salida-sidebar.svg">
            </div>
            <div class="d-flex col-10 flex-column">
                <p>Documentos por firmar</p>
                <p>Listado de documentos firmados y listos para gestión</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="text-end">Ir a Firmar</p>
        </div>
        <div class="col-6">
            <p class="text-end">Ir a Firmar</p>
        </div>
    </div>
</div>

