<div class="container mt-5">
    <div class="row">
        <div class="d-flex justify-content-evenly">
        <div class="col-5">
            <div class="d-flex col-6 rounded">
                <div class="d-flex col-6">
                    <img src="../../../../assets/img/por_firmar_card.svg">
                </div>
                <div class="d-flex flex-column col-10">
                    <p class="fw-bold">Documentos por firmar</p>
                    <p >Tienes 5 documentos pendientes por firmar</p>
                </div>
            </div>
        <div class="row">
            <div class="col-12">
                <p class="text-end text-primary" >Ir a Firmar<img src="../../../../assets/img/flechita.svg"></p>
            </div>
        </div>
        </div>
        <div class="col-5">
            <div class="d-flex col-6 rounded">
                <div class="d-flex col-6">
                    <img src="../../../../assets/img/firmados_card.svg">
                </div>
                <div class="d-flex flex-column col-10">
                    <p class="fw-bold">Documentos firmados</p>
                    <p>Listado de documentos firmados y listos para gestión</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-end text-primary">Consultar documentos<img src="../../../../assets/img/flechita.svg"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


