.fondo-consulta {
  background: url('../../../../assets/img/fondo.png') no-repeat!important;
  background-size: cover!important;
  height: 100vh !important;
  margin-bottom: 0px!important;
  background-attachment: fixed;
  background-position: center;
  margin-top:-41px !important;
  margin-left: 0px !important;
}

@media screen and (max-width: 770px) {
  #main-title {
   text-align: center;
  }
}