<div class="container my-5 col-lg-12" style="background-color: #fafbfc;">
  <section class="col-12">
    <div class="d-flex flex-row container-titulo pb-5">
      <div class="d-flex col-5 ms-3 mb-4 pt-4">
        <div class="d-flex flex-column flex-wrap text-center">
          <div class="d-flex flex-row subcontainer-titulo">
            <div class="mt-1">
              <img src="../../../../assets/img/mantenedor_usuarios.svg">
            </div>
            <div>
              <h1 class="fw-bold mx-2">Mantenedor de sistemas</h1>
            </div>
          </div>
          <div>
            <p style="font-size: 1.1rem!important;">Listado de sistemas dentro de firma electrónica</p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-end align-items-end btn-container" style="flex-grow: 1;">
          <button class="filter-btn btn me-2 mb-3" style="border: 1px solid #979ba2;" (click)="flagFiltros = !flagFiltros"><img class="px-3" src="../assets/img/filtro-btn.svg">Filtrar</button>
          <button class="btn-firmar-seleccionados btn btn-primary btn-main me-2 p-2 mb-3"style="background-color: #0B58A4 !important;"(click)="agregarSistema()" >Agregar </button>
      </div>
   </div>
  </section>
  <section *ngFor="let medio of medios; let i = index" class="mb-3" class="card shadow">
    <div>
      <div class="rounded" style="background-color: #e4ebf5 !important;">
        <div class="d-flex flex-row">
          <div class="d-flex align-items-center mx-2">
            <label class="switch" (click)="modificarAccesoSis(medio)">
              <input type="checkbox" name="enableSystem" [checked]="medio.me_disponible === 1">
              <span class="slider round"></span>
            </label>
          </div>
          <div class="d-flex flex-row">
             <p class="fw-bold titulo-medio py-2" >{{medio.me_descripcion}}</p>
          </div>
        </div>
      </div>
        <div>
          <table class="table table-borderless mt-3 py-5">
            <thead class="px-5">
              <tr>
                <th style="font-weight: normal!important;" *ngFor="let column of columns">{{column}}</th>
                <th>
                  <div class="d-flex flex-row w-100 justify-content-end">
                    <div>
                      <span [ngClass]="{
                        'inactivo':medio.me_disponible!==1,
                        'activo':medio.me_disponible===1,
                        }" class="p-2">
                        {{medio.me_disponible!==1?"Inactivo":"Activo"}}
                      </span>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="fw-bold">
              <tr>
                <td>
                  {{medio.me_id}}
                </td>
                <td>
                  {{medio.url?medio.url:"https://gn.vir.0s.cl"}}
                </td>
                <td>
                  {{medio.api?medio.api:"desarrollo.c4wryyw566zb.us-east-1.rds.amazonaws.co"}}
                </td>
                <td>
                  {{medio.clave?medio.clave:"EDRF12"}}
                </td>
                <td>
                  <div class="d-flex flex-row w-100 justify-content-end">
                    <img src="../../../../assets/img/archivo_tabla.svg" class="iconos-options mx-1 p-1 rounded">
                    <img src="../../../../assets/img/archivo_tabla.svg" class="iconos-options mx-1 p-1 rounded">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <div>
                    <table class="table" >
                      <thead>
                        <tr style="background-color: #e4ebf5; border-bottom: 2px solid #0b58a4;">
                          <td>Nombre documento</td>
                          <td>ID</td>
                          <td>Estado</td>
                        </tr>
                      </thead>
                      <tbody *ngIf="medio.medioGestionData!==null">
                        <tr class="fw-bold" *ngFor="let documento of documentos[i]">
                          <td>
                            <div class="d-flex flex-row align-items-center mx-2">
                              <label class="switch" (click)="modificarAccesoDoc(documento,medio)">
                                <input type="checkbox" name="enableSystem" [disabled]="medio.me_disponible === 0" [checked]="(medio.me_disponible === 1 && documento.disponible === 1)">
                                <span class="slider round"></span>
                              </label>
                              <p class="px-3">{{documento.medio}}</p>
                            </div>
                          </td>
                          <td>{{documento.idMedioGestion}}</td>
                          <td>
                            <span [ngClass]="{
                              'inactivo':!(medio.me_disponible === 1 && documento.disponible===1),
                              'activo':(medio.me_disponible === 1 && documento.disponible===1),
                              }" class="p-2">
                              {{  (medio.me_disponible === 1 && documento.disponible===1) ? "Activo" : "Inactivo" }}
                            </span>
                          </td>
                        </tr> 
                      </tbody>
                    </table>
                    <div class="d-flex flex-row w-100 py-2" *ngIf="hiddenInput[i].visible">
                      <input #docInput (keyup.enter)="onEnterDoc($event,medio.me_id)" type="text" placeholder="Escribe el nombre del documento">
                    </div> 
                    <button class="btn btn-primary btn-main add-btn" style="background-color: #0B58A4 !important;" (click)="agregarDocumento(i)">
                      <mat-icon>add</mat-icon>Agregar Documento
                    </button>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            
        </div>
    </div>
  </section>
</div>

  